.card {
  padding: 0 16px;
  border-radius: 6px;
  width: 300px;
  height: 160px;
  list-style: none;
  background-color: var(--color-secondary);
  border-bottom: 6px solid var(--color-primary);
  box-shadow: 2px 2px 8px -2px var(--color-neutral);
  text-transform: capitalize;
}

.card:hover {
  outline: 4px solid var(--color-primary);
}

.link {
  text-decoration: none;
  gap: 8px 0;
}

.title {
  font-size: var(--font-s);
  line-height: 1.5;
}

.description {
  font-size: var(--font-xs);
}
