.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.coverWrapper {
  height: 200px;
  width: 100%;
  position: relative;
}

.coverWrapper img {
  object-fit: cover;
}

.title {
  text-transform: capitalize;
}

.contentWrapper {
  max-width: 1300px;
  padding: 32px 0;
}

.title {
  font-size: var(--font-l);
}

.content {
  margin: 28px auto;
  line-height: 1.6;
  font-size: var(--font-s);
}

.likesDetail {
  gap: 16px;
  margin: 32px 0;
  font-size: var(--font-s);
}

.button {
  border-radius: 4px;
  padding: 8px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.button:active {
  transform: scale(0.97);
}

.backTo {
  font-size: var(--font-s);
  gap: 0 8px;
  margin: 0 0 32px;
}

.backToIcon {
  width: 30px;
  height: 30px;
}
