/* CSS Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  font-weight: var(--font-regular);
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  font-weight: var(--font-bold);
  color: var(--color-primary);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
}

/* CSS Variables */
:root {
  --font-primary: "Ubuntu";
  --font-secondary: "Ubuntu";
  --font-regular: 400;
  --font-bold: 700;
  --font-xs: 1.8rem;
  --font-s: 2rem;
  --font-m: 3rem;
  --font-l: 8rem;
  --font-xl: 10rem;
  --font-xxl: 12rem;
  --color-text: #333333;
  --color-background: #f5f7fa;
  --color-neutral: #09111d;
  --color-primary: #4a90e2;
  --color-secondary: #003057;
}

/* CSS Utilities  */
.w-100vw {
  width: 100vw;
}

.h-100vh {
  height: 100vh;
}

.w-25pc {
  width: 25%;
}

.w-50pc {
  width: 50%;
}

.w-75pc {
  width: 75%;
}

.w-100pc {
  width: 100%;
}

.h-25pc {
  height: 25%;
}

.h-50pc {
  height: 50%;
}

.h-75pc {
  height: 75%;
}

.h-100pc {
  height: 100%;
}

.debug {
  border: 2px solid red;
}

.ta-left {
  text-align: left;
}

.ta-center {
  text-align: center;
}

.ta-right {
  text-align: right;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.ai-start {
  align-items: start;
}

.ai-center {
  align-items: center;
}

.ai-end {
  align-items: end;
}

.jc-start {
  justify-content: start;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: end;
}

.wrap-wrap {
  flex-wrap: wrap;
}

.wrap-nowrap {
  flex-wrap: wrap;
}

.fd-row {
  flex-direction: row;
}

.fd-column {
  flex-direction: column;
}

.bc-primary {
  background-color: var(--color-primary);
}

.bc-secondary {
  background-color: var(--color-secondary);
}

.bc-background {
  background-color: var(--color-background);
}

.bc-text {
  background-color: var(--color-text);
}

.bc-neutral {
  background-color: var(--color-neutral);
}

.c-primary {
  color: var(--color-primary);
}

.c-secondary {
  color: var(--color-secondary);
}

.c-background {
  color: var(--color-background);
}

.c-text {
  color: var(--color-text);
}

.c-neutral {
  color: var(--color-neutral);
}

.fw-regular {
  font-weight: var(--font-regular);
}

.fw-bold {
  font-weight: var(--font-bold);
}

main {
  height: calc(100vh - 144px);
  overflow-y: scroll;
}

.healthcheck h1 {
  font-size: var(--font-xl);
}

.healthcheck p {
  margin: 32px 0;
  font-size: var(--font-l);
  font-weight: var(--font-bold);
}

@keyframes fromTop {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0);
  }
}
